html,
body,
.block {
  height: 100%;
}

.tabs-menu {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
  white-space: nowrap;
}

img {
  object-fit: cover;
}

.coin-logo {
  height: 24px !important;
  width: 24px !important;
  border-radius: 12px;
}

.collection .collection-item.avatar {
  min-height: 24px;
}
.collection.with-header .collection-header {
  padding: 0px 20px;
}